.main-container {
  margin-left: 20px;
  margin-right: 20px;
  min-height: calc(100vh - 170px);
}

.head-section {
  h1 {
    text-align: left;
    font-style: italic;
    margin-bottom: 10px;
    font-family: $light-font;
    letter-spacing: 0.75px;
  }
  p {
    text-align: left;
    font-family: $light-font;
  }
}

#date{
  font-family: $light-font;
}

#bar{
  font-family: $light-font;
}

.progress {
  width: 310px;
  margin-bottom: 35px;
  background-color: white;
  border-radius: 1px;
  box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}
.progress-bar{
  width:70%;
  background-color: #9DDCD4;
  border-bottom: none;
}

.project-wrapper{
  height: 100vh;
}

.project-content-wrapper{
  height: 100%;
  overflow-y: scroll;
}
.round-color{
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
  top: 10px;
  right: 5px;
  position: absolute;
}
