    <div class="profile-header-wrapper">
      <div class="container profile-header-container text-center">
        <div class="profile-header-infos">
          <img src="images/papillard.jpeg" alt="">
          <h1><%= user.name %></h1>
          <h2> user's title? </h2>
        </div>
        <div class="tabs">
          <a class="tab active" href="#">
            <h3>8</h3>
            <p>current projects</p>
          </a>
          <a class="tab" href="#">
            <h3>27</h3>
            <p>working collaborators</p>
          </a>
          <a class="tab" href="#">
            <h3>54</h3>
            <p>reviews</p>
          </a>
          <a class="tab" href="#">
            <h3>13</h3>
            <p>something else</p>
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>95</div>
        </div>
        <img src="shared/card" alt="" class="product-image">
        <div class='product-body'>
          <h3> title of project </h3>
          <p> description of project </p>
        </div>
        <ul class="list-inline product-controls">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>
      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>67</div>
        </div>
        <img src="shared/card" alt="" class="product-image">
        <div class='product-body'>
          <h3> title of project </h3>
          <p> description of project </p>
        </div>
        <ul class="list-inline product-controls">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>
      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>55</div>
        </div>
        <img src="shared/card" alt="" class="product-image">
        <div class='product-body'>
          <h3> title of project </h3>
          <p> description of project </p>
        </div>
        <ul class="list-inline product-controls">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>
    </div>
