<div class="banner parallax" style="background-image: url('<%= image_path 'homepage-bg.png' %>');">
  <div class="banner-content">
    <h1 class="text-center">the new frontier</h1>
    <h2 class="text-center">of project-management transparency</h2>
  </div>
</div>



