<div class="col-xs-12 col-sm-6 col-md-4">
  <%= link_to project_path(project), class: "card-link"  do %>
    <div class="card" style="background-color: #357aa9">
      <div class="card-description">
        <h2><%= project.title %></h2>
      </div>
    </div>
  <% end %>
</div>
