<div>
  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/hboughaleb/active-blueprint"><i class="fa fa-github"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      conjured up with <i class="fa fa-heart"></i> from <%= link_to "hamza", "https://www.linkedin.com/in/hamzaboughaleb/" %>, <%= link_to "julia", "https://www.linkedin.com/in/julia-rix-b9176ba8/" %>, and <%= link_to "brian", "https://www.linkedin.com/in/brian-clary-77004442/" %> at <%= link_to "Le Wagon Montréal", "https://www.lewagon.com/montreal" %>.
          <br> 5333, avenue casgrain, suite 102 | montréal, québec h2t 1x6 </br>
    </div>
  </div>
</div>
