<% @specialty.tasks.each do |t| %>
  <div class="card">
    <div class="card-description">
      <p><%= link_to "#{t.name}" , project_specialty_path( @project, @specialty, t) %></p>
      <p><%= t.start.strftime("%Y-%m-%d") %> - <%= t.finish.strftime("%Y-%m-%d") %></p>
    </div>
    <img class="card-user" src="#">
    <a class="card-link" href="#" ></a>
  </div>
<% end %>

