<div class="card">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h3>Le Wagon Shanghai</h3>
    <p>Very cool city, the best</p>
  </div>
  <img class="card-user" src="#">
  <a class="card-link" href="#" ></a>
</div>
