<% @specialty.tasks.each do |t| %>
  <div class="card">
    <div class="card-description">
      <p><%= link_to "#{t.name}" , project_specialty_task_path( @project, @specialty, t) %></p>
      <p><%= t.start.strftime("%Y %b %d") %> - <%= t.finish.strftime("%Y %b %d") %></p>
    </div>
    <img class="card-user" src="#">
  </div>
<% end %>

