<%= render "home_banner" %>
<div class="container">
  <div class="row">
    <div class="message">
      <div class="message-name">
        <h3> FontAwesome Icon Here </h3>
      </div>
      <div class="message-body">
        <p> here's where copy will go about how cool we are</p>
      </div>
      <div class="message-name">
        <h3> FontAwesome Icon Here </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="message">
      <div class="message-name">
        <h3> FontAwesome Icon Here </h3>
      </div>
      <div class="message-body">
        <p> here's where copy will go about how cool we are</p>
      </div>
      <div class="message-name">
        <h3> FontAwesome Icon Here </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="message">
      <div class="message-name">
        <h3> FontAwesome Icon Here </h3>
      </div>
      <div class="message-body">
        <p> here's where copy will go about how cool we are</p>
      </div>
      <div class="message-name">
        <h3> FontAwesome Icon Here </h3>
      </div>
    </div>
  </div>
</div>






