<%= render "shared/banner" %>

  <div>
    <div class="text-center" style="color: black" width="100">
      <h3> Harmony </h3>
      <h1> Success borne of communication, clear goals, and working </h1>
      <p> — <i>together</i>.— </p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="message">
        <div class="message-name">
          <i class="material-icons">access_alarm</i>
        </div>
        <div class="message-body">
          <p> nowadays, we hear <strong>efficiency</strong> <i>comes standard</i></p>
          <p> it's in our day-to-day, on the job, and at home
          <p><strong> get the job done</strong> in fewer clicks — like a boss </p>
        </div>
        <div class="message-name">
          <i class="material-icons">cloud_done</i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="message">
        <div class="message-name">
          <i class="material-icons">weekend</i>
        </div>
        <div class="message-body">
          <p> easy peasy. <strong>so easy</strong> a computer could do it </p>
          <p> but really, go ahead and do your thing</p>
          <p> <strong>our algorithm learns</strong> your style and work flow </p>
        </div>
        <div class="message-name">
          <i class="material-icons">thumb_up</i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="message">
        <div class="message-name">
          <i class="material-icons">message</i>
        </div>
        <div class="message-body">
          <p><strong> R.I.P. </strong></p>
          <p> <strong>Mike Roe Mannah-Jing</strong>* </p>
          <p> collaborate, communicate, and stay in the know </p>
          <p> (*Get it? <i>MicRoManaging?!</i> genius. we know. rest in peace, Mike.)</p>
        </div>
        <div class="message-name">
          <i class="material-icons">people_outline</i>
        </div>
      </div>
    </div>
  </div>

  <div >
    <div class="text-center" style="color: black" width="100">
      <h3> Tried-and-true reviews | Check out the buzz: </h3>
      <p> — You guys aren't shy. alas, neither are we — </p>
    </div>
  </div>

  <!-- REVIEWS TABLE (FAKE but keep code in case someone wants to utilize it later -->
  <div class="container review-container">
      <div>
        <div class="review-wrapper">
            <div>
              <img src='https://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar"/>
            </div>
            <h3>Dan, Contractor</h3>
          </div>
          <p>" Fantastic app! Gets it done day in, day out!"</p>
        </div>
      <div>
      <div>
        <div class="review-wrapper">
          <div>
             <img src='https://kitt.lewagon.com/placeholder/users/ssaunier' class="avatar"/>
          </div>
          <h3>Monique, Interior Design</h3>
        </div>
        <p>" So many clients, too little time—I'm sold—only wish I had known about this sooner!"</p>
      </div>
      <div>
        <div class="review-wrapper">
          <div>
            <img src='https://kitt.lewagon.com/placeholder/users/eschults' class="avatar"/>
          </div>
          <h3>Sev, Homeowner</h3>
        </div>
        <p>" When wondering where we are on things, chances are #<i>Active</i>Blueprint already has the scoop. Plus, one click makes the guys on my project a call or text away. Sawoosh! "</p>
      </div>
    <div>
      <div class="review-wrapper">
          <div>
             <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="avatar"/>
          </div>
          <h3>Rob, HVAC</h3>
        </div>
        <p>" Has my business for life... "</p>
      </div>
  </div>
  </div>




