<%= render "shared/banner" %>

<div class="container">
  <div class="row">
    <div class="message">
      <div class="message-name">
        <h3> FontAwesome Icon Here </h3>
      </div>
      <div class="message-body">
        <p> efficiency: get the job done in fewer clicks—like a boss </p>
      </div>
      <div class="message-name">
        <h3> FontAwesome Icon Here </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="message">
      <div class="message-name">
        <h3> FontAwesome Icon Here </h3>
      </div>
      <div class="message-body">
        <p> easy peasy: sit back. the algorithm learns your style </p>
      </div>
      <div class="message-name">
        <h3> FontAwesome Icon Here </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="message">
      <div class="message-name">
        <h3> FontAwesome Icon Here </h3>
      </div>
      <div class="message-body">
        <p> transparency: be in the know. </p>
      </div>
      <div class="message-name">
        <h3> FontAwesome Icon Here </h3>
      </div>
    </div>
  </div>
</div>





