
<div class="container">
<h1>All my projects here</h1>

  <div class="cards-container col-xs-12 col-sm-9">
    <% @projects.each do |project| %>
        <%= render "shared/card", project: project %>
    <% end %>
  </div>
</div>






