
<h1><stong> DIGEST OF ALL PROJECTS BELONGING TO THE CURRENT USER <strong></h1>

<p> perhaps a good spot to break the page with a something before the cards of each project are shown (below).</p>

<div class="main-container">
  <div class="cards-container col-xs-12 col-sm-9">
    <% @projects.each do |project| %>
        <%= render "shared/card", project: project %>
    <% end %>
  </div>
</div>


<%= render "shared/footer" %>




