
<div class="container">
  <div class="text-center">
    <h1>my projects</h1>
  </div>
  <div class="cards-container col-xs-12 col-sm-9">
      <% @projects.each do |project| %>
        <%= render "shared/card", project: project %>
      <% end %>
  </div>
</div>




