.nav-card{
  border: solid 0.3px rgba(151, 151, 151, 0.25);
  box-shadow: 0px 2px 20px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  padding: 5px;
  height: 110px;
  position: relative;
  margin-bottom: 5px;
}

.card-title {
  position: absolute;
  top: 10px;
  left: 20px;
}

.card-title h2 {
  font-size: 18px;
  margin: 0;
  color: #666666;
}

.card-title p {
  font-size: 12px;
  opacity: 0.7;
  font-family: $light-font;
}

.card-details {
  position: absolute;
  margin-top: 35px;
  top: 10px;
  left: 20px;
}

.card-details p {
  font-size: 12px;
  opacity: 0.7;
  font-family: $light-font;
}

.card-avatars {
  position: absolute;
  bottom: 0;
  right: 5px;
}

.edition-options {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 15px;
  a {
    color: #9AD8D1 ;
    text-decoration: none;
  }
}

.add-card{
  background-color: rgba(151, 151, 151, 0.25);
  padding: 5px;
  height: 110px;
  position: relative;
  text-align: center;
  span {
    line-height: 110px;
    vertical-align: middle;
    font-size: 24px;
  }
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;

}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
